/* Box Model Hack */
/* BASE STYLES */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

/* HEADER STYLING */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0;
  margin-top: 0.8%;
}

nav h2 {
  margin: 0;
  font-family: 'Lobster', cursive;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: black;
}

nav img {
  width: 15px;
}

nav ul {
  display: flex;
  list-style: none;
  flex-basis: 60rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/* HERO STYLING */
.hero {
  height: 150vh;
  background: url(../images/great2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-left: 10%;
  padding-top: 20.5%;
  position: relative;
}

.hero h1 {
  margin: 0;
  font-size: 6.5rem;
  font-weight: 400;
  transform: scaleY(1.1);
}

.hero>p {
  letter-spacing: 4px;
  margin-bottom: 5%;
}

.hero>a {
  color: white;
  background: black;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
}

.hero-card {
  background: black;
  color: white;
  width: 18rem;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 10%;
  letter-spacing: 1px;
}

.hero-card span {
  font-size: 2.5rem;
}

.hero-card>p {
  line-height: 1.7;
}

.hero-card>a {
  color: black;
  text-decoration: none;
  background: white;
  padding: 1rem 2rem;
}

.before-button {
  margin-bottom: 5rem;
}

.rotate {
  transform: rotate(90deg);
  position: absolute;
  right: -8%;
  top: 44%;
}

.hero .navigations {
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  position: absolute;
  right: 6%;
  bottom: 4%;
  font-weight: bolder;
}

.hero .left {
  right: 9.5%;
}

/* ABOUT STYLING */
.about {
  width: 65%;
  margin: 7% auto;
  display: flex;
  justify-content: space-between;
  gap: 8%;
}

.about-card {
  text-align: center;
}

.about-card:last-child {
  margin-top: 0.2rem;
}

/* DESCRIPTION STYLING */
.description {
  background-color: #f3f4f6;
  display: flex;
  gap: 8%;
  justify-content: space-around;
  padding: 5% 15%;
}

.description-text h2 {
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 2%;
}

.description-text>p {
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 19%;
}

.description-text>a {
  text-decoration: none;
  color: white;
  background: black;
  padding: 1rem 2.5rem;
}